.jumbotron {
  background-image: url('images/mountains.jpeg');
  /*background-position: center;*/
  background-position: 45% 52%;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  font-family: Papyrus,fantasy;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: black;
  background-color: #003399;
  text-decoration: underline;
}
.nav {
  opacity: .6;
}
